<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razorpay Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <h2>Pay ₹50 to submit your form</h2>
    <button id="pay-button">Pay Now</button>

    <script>
        var options = {
            "key": "{{ razorpay_key_id }}",
            "amount": "{{ amount }}", 
            "currency": "INR",
            "name": "YipForm Payment",
            "description": "Form Submission Fee",
            "order_id": "{{ order_id }}",
            "handler": function (response){
               
                window.location.href = "/payment/success/?payment_id=" + response.razorpay_payment_id + "&order_id=" + response.razorpay_order_id;
            },
            "theme": {
                "color": "#528FF0"
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('pay-button').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
    </script>
</body>
</html>
